<div>
    <label class="form-control">Select an Employee to edit</label>
<select class="form-control" #eid (change)="selectEmployee(eid.value)">
    <option value="">Select Employee</option>
    <option *ngFor="let employee of employees" [value]="employee.id">{{employee.name}}</option>

</select>
<app-employee-detail (saveEmployee)="changeEmployee($event)" [enabled]="true" [employee]="employee"></app-employee-detail>
<button class="btn btn-primary" (click)="updateEmployee()">Update</button>
<br/>
</div>  