<div>
    <h1>Login</h1>
    <div
  class="toast-container position-fixed bottom-0 end-0 p-3"
  style="z-index: 1055;"
  aria-live="polite"
  aria-atomic="true">
  <div *ngFor="let toast of toasts" class="toast show align-items-center text-bg-primary border-0 mb-2" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        {{ toast.message }}
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="removeToast(toast)"></button>
    </div>
  </div>
</div>


    <section #userdata class="userlogin">
        <label class="form-control" for="username">Username</label>
        <input class="form-control" type="text"  id="username" 
        [(ngModel)]="user.username" 
        #username="ngModel" required minlength="5">
        <div *ngIf="!username.valid && username.touched" class="alert alert-danger">
          {{ username.errors??['required']?'Username is manditory':'' }}
          {{username.errors??['minlength']?'blah':''    }}
        </div>
        <label class="form-control" for="username">Password</label>
        <input class="form-control" type="password"  
        name="password" [(ngModel)]="user.password" #password="ngModel" required>
        <div *ngIf="!password.valid && password.touched" class="alert alert-danger">
          {{ password.errors??['required']?'Password is manditory':'' }}
        </div>
        
        <button
            [disabled]="!username.valid || !password.valid" 
        class="btn btn-primary" (click)="login(username,password)">Login</button>
        <button class="btn btn-danger" (click)="reset()">Reset</button>
    </section>
    
</div>
