

<div>
    <h2>Employees</h2>
   
    <table *ngIf="employees.length>0 else nodata"  border="1" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let employee of employees">
                <td>{{employee.id}}
                </td>
                <td><span [hidden]="editClicked">{{employee.name}}</span>
                    <input [hidden]="!editClicked" class="form-control" type="text" id="name" name="name" [(ngModel)]="employee.name" required>
                </td>
                <td><span [hidden]="editClicked">{{employee.email}}</span>
                    <input [hidden]="!editClicked" class="form-control" type="text" id="email" name="email" [(ngModel)]="employee.email" required>
                </td>
                <td>
                    <button [hidden]="editClicked"  class="btn btn-warning" (click)="editPrep(employee.id)">Edit</button>
                    <button [hidden]="!editClicked" class="btn btn-success" (click)="editEmployee(employee.id)">Update</button>
                    <button class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #nodata>
        <p>No data available</p>
    </ng-template>
</div>

