<h1>
    <!-- <app-welcome></app-welcome> -->
     My App
</h1>
<hr/>
<app-vchild [session]="title"></app-vchild>
<br/>
<br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<img src="images/1.jpg" loading="lazy" alt="image" width="300" height="300"/>
<br/>
<button class="btn btn-primary" (click)="changeChildContent()">Change Message From Parent</button>
<!-- <app-empdata></app-empdata>
<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<router-outlet/>
<hr/> -->